/*
FONTE

font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif; */

html,
body {
    margin: 0;
    box-sizing: border-box;

}


p,
h2,
h3{
 font-family: 'Raleway', sans-serif;
    
}



.fragt {
    width: 100%;
    height: 25px;
    background-color: #768281;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 2px;
}

.fed {

    font-weight: bold;
}

.breaking {
    margin: 0;
    padding-top: 4px;
}




.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #768281;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2000;
}

/* overlay indhold */

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}

/*Burgermenu links */

.overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 33px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid
}


.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 90%;
    font-size: 60px;
    padding: 0;
    border-bottom: none;
}

.overlay-content img {
    width: 100px;
    padding-top: 20px;

}

/*header - burgermenu lukkede*/

header {
    height: 80px;
    box-shadow: 0px 10px 6px #E8E8E8;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    position:fixed;
    top:0;
    z-index: 1000;
   
  

}

.comlogo {
    display: none;
}

.commenu {
    display: none;
}


/*burgermenu-symbol*/

label {
    margin-left: 2%;
    color: #4C4044;
    font-size: 36px;
    position: absolute;


}


/*logo i midten af header*/

.headlogo {
    min-width: 33px;
    max-width: 33px;
    position: absolute;
    left: 45%;
    top: 32px;

}

/*indkøbskurv*/

.indkob {
    width: 10%;
    position: absolute;
    left: 83%;
    min-width: 50px;
    max-width: 50px;
}

/*billede og tekst på forside - Hero*/

.hero{
    position: relative;
    width:100%;
    height: auto;
    margin-top:80px;
    
    
}




.hero img{
    width: 100%;
    
}





.hero button{
    position: absolute;
    border:none;
    background-color: #FFFFFF;
    color:#5C5255;
    font-family: 'Abril Fatface';
    font-size: 16px;
    text-decoration: underline;
    width:120px;
    height:40px;
    top:85%;
    left:55%;
    
}

.tekst{
    position:absolute;
    top:47%;
    left:14%;
    color:white;
}

.tekst h1{
    margin-bottom: 0;
    width:100%;
}

.tekst p{
   margin-top:4px;
    font-size: 10px;
    width:94%
}

.herocom, .herostor{
    display: none;
}


/* Teasers på forside*/

.teaser{
    position:relative;
    width:100%;
    margin-top: 12px;
}

/*hvad er seamless*/

.seamless img  {
    position: relative;
    width:90%;
    margin-left:5%
     
}

.kvalitet img{
    position: relative;
    width:90%;
    margin-left:5%;
    
}


.vaskeguide img{
    position: relative;
    width:90%;
    margin-left:5%;
}

.emballage img{
    position: relative;
    width:90%;
    margin-left:5%;
}

.linktekst{
text-decoration: none;
font-family: 'Abril Fatface';
font-size: 23px;
font-weight: 100;
white-space: nowrap;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
letter-spacing: 0.5px;


}

.teasercom1 {
    display: none;
}

.teasercom2 {
    display: none;
}

.teasercom3{
    display: none;
}

.teasercom4{
    display: none;
}


/*WEBSHOP */
/* Filtrering af tøjet*/
.filtrering {
    clear: both;
    max-width: 100%;
    background-color: white;
    margin-top: 90px;
    margin-left: 15%;
    margin-right: 15%;
}
.filterdrop {
    background-color: #ffff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: left;
    color: #4C4044;
    text-decoration: underline;
}

.filter-knapper {
    position: relative;
    display: inline-block;
}

.filter-content, .filter-content1, .filter-content2  {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 45px;
}

.filter-content1 {
    margin-left: 15%;
}
.filter-content2 {
    margin-left: 30%;
}
.filter-content li, .filter-content1 li, .filter-content2 li {
    cursor: pointer;
    color: #4C4044;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style-type: none;
}

.filterknapper:hover .filter-content, .filterknapper:hover .filter-content1, .filterknapper:hover .filter-content2  {
    display: block;
}

/* Hele galleriet - billeder af tøj og beskrivelser) */

.galleri {
    clear: both;
    width: 80%;
    margin: 150px auto 10px auto;
}

/* wrapper om billede og produktinformationen */

.produkt {
    float: left;
    margin: 10px;
    width: 40%;
    margin-bottom: 30px;
}

.produkt .toj-galleri {
    width: 100%;
    height: auto;
}

.toj-galleri:hover {
    transform: scale(1.05); 
}

/* Wrapper om produktinformation */

.produktbeskrivelse {
    color: #4C4044;
    text-align: center;
}

/* læg i kurv knap */

.kurv-knap {
    background-color: #4C4044;
    color: white;
    width: 70%;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 8px 30px 8px 30px;

}

/* produktside styling *//* produktside styling *//* produktside styling *//* produktside styling *//* produktside styling */

/* wrapper om hele siden *//* wrapper om hele siden *//* wrapper om hele siden */
.main_section{
    margin-top: 100px;
}

/* (top af produktside) */
/* breadcrumbs *//* breadcrumbs *//* breadcrumbs *//* breadcrumbs *//* breadcrumbs */
ul.breadcrumb {
    margin: 30px 0px 0px -15px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 12px;
}
ul.breadcrumb li+li:before {
    color: #4C4044;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #4C4044;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/* (top af produktside) */
/* slideshow *//* slideshow */ /* slideshow */ /* slideshow */ /* slideshow */ 
.fade{
    width: 80%;
    margin: 10%;
    margin-top: 10%
}

.fade img{
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color:#768281 !important; /* !important - er vigtig for at overrule stylingen der hentes ned fra jquery bibliotek */
}

/* (top af produktside) */
/* vælg farve knap *//* vælg farve knap *//* vælg farve knap *//* vælg farve knap */
.container_farveknap , img{
    width: 20px;
    display: flex;
    margin-right: 10px;
}

.container_farveknap{
    justify-content: center;
    width: 100%;
}

.farveknap_overskrit{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* (top af produktside) */
/*produkt information *//*produkt information *//*produkt information *//*produkt information */

.info h1 {
text-align: center;
color: #4C4044;
font-size: 40px;
margin-bottom: 0;
font-family: 'Raleway', sans-serif;
}

.info h2 {
text-align: center;
color: #4C4044;
font-size: 12px;
font-weight: normal;
}

.info h3 {
text-align: center;
color: #4C4044;
font-size: 16px;
font-weight: 100;
}



.fa{/* marker udfra punkter*/ 
    margin-right: 15px;
}




.info_tekst p{
    font-size: 16px;
    color: #4C4044;
    margin: 10px 0px 10px 20px;
}

.container_tekst1 {
    display: flex; 
    justify-content: center;
}

.container_tekst2 {
    display: flex; 
    justify-content: center;
    margin-left: -42.5px;
}



/* (top af produktside) */
/* læg i kurv & fragt *//* læg i kurv & fragt *//* læg i kurv & fragt *//* læg i kurv & fragt */
.kurv_knap{
    background-color: #4C4044;
    padding: 10px 40px 10px 40px;
    color: white;
    font-family:  'Raleway', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.kurv_container{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}

.fri_fragt img{
    width: 40px;
    height:30px;
    margin-right: 10px;
}

.fri_fragt {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* populære produkter (bund af produktside)*//* populære produkter (bund af produktside)*/

.produkter_bund_overskrift{
    display: flex;
    width: 100%
}


.overskrift_bund{
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    margin-left: 0px;
    color: #4C4044;
    width: 190px;
    font-size: 20px;
    margin-left: 2%;
    
}
.streg_overskrift{
    background-color: #768281;
    height: 4px;
    width: 37%;
    position: relative;
    top: 33px;
    margin-left: 5px;
    
}

.produkter_bund{
margin-left: 10%;
margin-top: 0;
width: 90%;
}

.produkt_3_infoside{
    display: none;
}

/* produktside styling SLUT *//* produktside styling SLUT *//* produktside styling SLUT *//* produktside styling SLUT */

/* indkøbskurv styling *//* indkøbskurv styling *//* indkøbskurv styling *//* indkøbskurv styling */

.content_kurv{
    margin-top: 110px;
}

.content_kurv h1{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    color: #4C4044;
    font-size: 30px;
    margin-bottom: 0;
}

.kurv_streg_overskrift{
    padding: 2px 5px 5px 2px;
    background-color: #768281;
    width: 225px;
    margin: auto;
    position: relative;
    top: -5px; 
}

.tom_kurv{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: #4C4044;
}

.kurv_knap_tom{
    background-color: #768281;
    padding: 10px 40px 10px 40px;
    color: white;
    font-family:  'Raleway', sans-serif;
    font-size: 16px;
    text-decoration: none;
    width: 
}

.kurv_tom_container{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

/* indkøbskurv styling - SLUT *//* indkøbskurv styling - SLUT *//* indkøbskurv styling - SLUT */


/* footer */
footer {
    clear: both;
    display: block;
    background-color: #768281;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin-top: 10px;
}

/* punkterne i footeren */

.footer-list {
    list-style-type: none;
    padding: 20px;
}

/* logo i footer */

.footer-logo {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

/* kontaktinfo i footer */

.kontakt-footer {
    font-size: 30px;
    margin: 5px 0 5px 0;
}

/* faq infoen i footer */

.footer-info {
    color: white;
    text-decoration: none;
    font-style: normal;
}

/* faq overksrift footer */

.faq {
    font-size: 30px;
    margin-bottom: -30px;
}

/* instagram link */

.instagram {
    width: 10%;
    margin-top: -30px;
    margin-left: auto;
}

/*tablet*/

@media (min-width: 767px)  {
  
  header {
        position: fixed;
    }

    .headlogo {
        display: none;
    }

    .indkob {
        max-width: 60px;
        min-width: 60px;
        left: 89%;
        top: 22px;
    }

    label {
        display: none;
    }

    .comlogo {
        
        display: none;
       
    }

    .commenu {
        display: inline;
        list-style: none;
        white-space: nowrap;

    }

    .commenu a {

        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        margin-top: -6px;
        padding-left: 80px;
        color: #4C4044;
        float: left;
        position: relative;
        left: 20%;
    }

    .headlogo {
        display: inline;
        left:2%
    }
    
    
    /*Hero image og tekst - forside*/
    
    .heromobil{
        display: none;
    }
    
    .hero img{
        width:90%;
        margin-left: 5%;
        
    }
    
    .herocom {
       display: inline;
        
    
        
        
    }
    
    .tekst{
    left:43%;
    top:52%
}

.tekst h1{
    
    font-size: 30px;
    
}

.tekst p{
    font-size: 14px;
    width:80%;
    
}
    
    .hero button{
        left:74.5%;
        top: 89%; 
        height:30px;
        width:100px;
    
    }
    
    /*teaser på forside*/
    
     
    .teaser{
        display:none;
    }
    
    .teasercom1{
        display: inline-block;
        position: relative;
        width:50%;
        margin-left:5%;
        margin-top:10px;
        float: left;

    }
    
    .teasercom2{
        display: inline-block;
        position: relative;
        width:38%;
        margin-top: 10px;
        float: left;
        margin-left:2%;
        
        
    }
    
    .teasercom3{
        display: inline-block;
        position: relative;
        width:38%;
        margin-left:5%;
    }
    
    .teasercom4{
        display: inline-block;
        position:relative;
        width:50%;
        margin-left:2%;
    }
    
    
    .teasercom1:hover{
        opacity: 0.7;
    }
    
    .teasercom2:hover{
        opacity: 0.7;
    }
    
     .teasercom3:hover{
        opacity: 0.7;
    }
    
     .teasercom4:hover{
        opacity: 0.7;
    }


    .seamlesscom img{
       
    width:100%;
    height:184.31px;
        
    }
    
    .kvalitetcom img{

        width:100%;
        height:184.31px;
    }
    
    .vaskeguidecom img{
        width:100%;
        height:184.31px;
        margin-top:10px;
        
    }
    
    .emballagecom img{
        width:100%;
        height:184.31px;
    }


/* webshop */
    .filtrering {
        margin-left: 35%;
        width: 100%;
    }

.filter-content1 {
    margin-left: 12%;
}
.filter-content2 {
    margin-left: 26%;
}
    
/* wrapper om billede og produktinformationen */

.produkt {
    width: 30%;
}
    /* produkttype beskrivelse */
    .type {
font-size: 14px;
    }
     
/* produktside styling - TABLET */ /* produktside styling - TABLET *//* produktside styling - TABLET */
    
.container_web{
    display: flex;
    margin: 1% 5% 5% 5%;
    justify-content: center;
    }
    
/* alt højrestillet content - TABLET*/ /* alt højrestillet content - TABLET*/
.info{
    margin-left: 5%
    }
    
    
/* slideshow - TABLET *//* slideshow - TABLET *//* slideshow - TABLET */     
.fade img{
    width: 400px;
    margin: 0;
}
    
.fade{
    width: 400px;
    margin: 30px;
}

/* produkt information - TABLET *//* produkt information - TABLET */
    
.info h1 {
text-align: left;
margin-bottom: 0;
}

.info h2 {
text-align: left;
font-size: 17px;
margin-bottom: 0;
}

.info h3 {
text-align: left;
font-size: 17px;
margin-bottom: 30px;
margin-top: 0;
}
    
.info_tekst p{
    font-size: 14px;
    margin: 10px 0px 10px 0px;
}

.container_tekst1 {
    display: block; 
}

.container_tekst2 {
    display: block; 
    margin-left: 0px;
}

/* læg i kurv & fragt - TABLET *//* læg i kurv & fragt - TABLET *//* læg i kurv & fragt - TABLET */

.fri_fragt{
    margin-left: -15px;   
}
    
    
.kurv_container{
    display: block;
    margin-top: 50px;    
}  
    

.fri_fragt {
    margin-top: 50px;
}

    
/* vis billede 3 af populære produkter - TABLET *//* vis billede 3 af populære produkter - TABLET */
    
.produkt_3_infoside{
    display: block;
}

/* alle produkter bund - TABLET */ /* alle produkter bund - TABLET */ 
.produkter_bund{
    margin-left: 10%;
    margin-top: 0;
    width: 80%;
        
    }
    
    
/* Overskrift bund produktside - TABLET *//* Overskrift bund produktside - TABLET */
    
.streg_overskrift{
        width: 50%;
        top: 62px;
    }
.overskrift_bund {
    font-size: 35px;
    width: 334px;
    }
    
/* produktside styling - TABLET - SLUT *//* produktside styling - TABLET - SLUT *//* produktside styling - TABLET - SLUT */
/* indkøbskurv styling *//* indkøbskurv styling *//* indkøbskurv styling *//* indkøbskurv styling */
    
.content_kurv h1{
    font-size: 50px;
}

.kurv_streg_overskrift{
    width: 380px;
}





    
/* Footer */    
    footer {
        height: 100%;
    }
    
     .footer-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .footer-logo {
        margin-left: 0;
        width: 15%
    }
    
    .kontakt-info,
    .fakta {
        width: 15%;
        margin-left: auto;
    }

    .fakta {
        margin-top: -18px;
        padding-left: 25px;
    }

    .instagram {
        margin-top: 25%;
width: 15%;
    }
}


/* Laptop */

@media (min-width: 1024px) {

    /*header*/

    header {
        position: fixed;
    }

    .headlogo {
        display: none;
    }

    .indkob {
        max-width: 60px;
        min-width: 60px;
        left: 92%;
        top: 22px;
    }

    label {
        display: none;
    }

    .comlogo {
        display: inline;
        width: 210px;
        margin-top: 9px;
        margin-left: 2%;
        display: inline-block;
        min-height: 30px;
    }

    .commenu {
        display: inline;
        list-style: none;
        white-space: nowrap;
        

    }

    .commenu a {

        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        margin-top: -6px;
        padding-left: 100px;
        color: #4C4044;
        float: left;
        top: -26px;
        left:26%
        
        
    }

    .headlogo {
        display: none;
    }
    
    
    /*Hero image - forside*/
    
    .tekst h1{
        font-size: 40px;
    }
    
    .tekst p{
        font-size:  16px;
       
    }
    
    .herostor{
        display: none;
    }
    
    .hero button{
        width:120px;
        height:40px;
        font-size: 18px;
        left:77%
    }
    
    /*teaser på forsiden*/
       
    .linktekst{
        font-size: 33px;
    }
    
    .seamlesscom img{
   
    height:280px;
        
    }
    
    .kvalitetcom img{

        height:280px;
    }
    
    .vaskeguidecom img{
        height:280px;
       
        
    }
    
    .emballagecom img{
        
        height:280px;
    }

    
   
    /*WEBSHOP*/
/* filtercontent dropdown */
    .filter-content1 {
        margin-left: 10%;
    }
    
    .filter-content2 {
        margin-left: 20%;
    }
/* wrapper om billede og produktinformationen */
.produkt {
    width: 28.4%;
    margin: 20px 20px 40px 20px;
}

    
/* produktside styling - WEB */ /* produktside styling - TABLET - SLUT *//* produktside styling - TABLET - SLUT */

/* slide show - web *//* slide show - web *//* slide show - web */
.fade img{
    width: 500px;
    margin: 0;
}
    
.fade{
    width: 500px;
    margin: 30px;
    display: block;
}

/* alt højrestillet content - WEB *//* alt højrestillet content - WEB */
.info{
margin: 20px 0px 0px 150px;
}
    
/* ryk alt content top til venstre - flex er ikke i midten mere */
    
.container_web{
    justify-content: flex-start;
    }
    
/*overskrift bund - WEB *//*overskrift bund - WEB *//*overskrift bund - WEB */
    
.overskrift_bund {
    font-size: 35px;
    width: 340px;
    }
    
.streg_overskrift{
    width: 60%;
        
    }



/* produktstørrelse*/

/* Footer */

    .footer-logo {
        width: 10%;
    }
    
    .fakta {
        margin-right: 20%;
    }
}
@media (min-width: 1440px) {
    .commenu a{
        left: 32%;
    }
    
    
    /*Hero image og tekst*/
    
        .herocom{
        display: none;
        
    }
    
    .herostor{
        display: inline-block;
    }
    
    .tekst p{
        width:65%
    }
    
    .tekst h1{
        font-size: 50px;
    }
    
    .tekst p{
        font-size:22px
    }
    
    .hero button{
        
    }
    
    .tekst {
    
        top:58%;
    }
    
    .hero button{
        width: 170px;
        height:60px;
        font-size:28px;
        top:87%;
        left:80%
    }
    
    /*teaser på forside*/
       .seamlesscom img{
       
    
    height:320px;
        
    }
    
    .kvalitetcom img{

       
        height:320px;
    }
    
    .vaskeguidecom img{
       margin-top:20px;
        height:320px;
      
        
    }
    
    .emballagecom img{
        margin-top:20px;
        height:320px;
    }

    
    
  
      /* webshop */
    .filtrering {
margin-left: 40%;
    }

        /*WEBSHOP*/
/* filtercontent dropdown */

/* wrapper om billede og produktinformationen */
.produkt {
    width: 28.9%;
    margin: 25px;
}  
    

}


