/*
FONTE

font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif; */

html,
body {
    margin: 0;

}

.fragt {
    width: 100%;
    height: 25px;
    background-color: #768281;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 2px;
}

.fed {

    font-weight: bold;
}

.breaking {
    margin: 0;
    padding-top: 4px;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #768281;
    overflow-x: hidden;
    transition: 0.5s;
}

/* overlay indhold */

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}

/*Burgermenu links */

.overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 33px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid
}


.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 90%;
    font-size: 60px;
    padding: 0;
    border-bottom: none;
}

.overlay-content img {
    width: 100px;
    padding-top: 20px;

}

/*header - burgermenu lukkede*/

header {
    height: 80px;
    box-shadow: 0px 10px 6px #E8E8E8;
    width: 100%;
}

.comlogo{
    display:none;
}

.commenu{
    display:none;
}


/*burgermenu-symbol*/

label {
    margin-left: 2%;
    color: #4C4044;
    font-size: 36px;
    position: absolute;
  

}


/*logo i midten af header*/

.headlogo{
    min-width: 33px;
    max-width:33px;
    position: absolute;
    left:45%;
    top:3.4%

}

.indkob{
    width:10%;
    position: absolute;
    left:83%;
    min-width: 50px;
    max-width:50px;
}
        







/* footer */




footer {
    font-family: 'Raleway', sans-serif;
    background-color: #768281;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: block;
}

/* punkterne i footeren */

.footer-list {
    list-style-type: none;
}

/* logo i footer */

.footer-logo {
    width: 20%;
}

/* kontaktinfo i footer */

.kontakt-footer {
    font-size: 30px;
    margin: 5px 0 5px 0;
}

/* faq infoen i footer */

.footer-info {
    color: white;
    text-decoration: none;
}

/* faq overksrift footer */

.faq {
    font-size: 30px;
    margin-bottom: -30px;
}

/* instagram link */

.instagram {
    width: 10%;
    float: right;
    margin: 20px;
}

/*WEBSHOP */
/* Hele galleriet - billeder af tøj og beskrivelser) */
.galleri {
    margin: 10px 20px 10px 20px;
}

/* wrapper om billede og produktinformationen */

.produkt {
    float: left;
    margin: 10px;
    width: 45%;
}

.produkt .toj-galleri {
    width: 100%;
    height: auto;
}

.toj-galleri:hover {
    border: 2px solid #ffff;
}

/* Wrapper om produktinformation */

.produktbeskrivelse {
    color: #4C4044;
    text-align: center;
}

/* tøj type beskrivelse under billedet */

/* læg i kurv knap */

.kurv-knap {
    background-color: #4C4044;
    color: white;
    width: 70%;
    font-size: 20px;
    padding: 5px;
}


/* Laptop */

@media (min-width: 768px) {

    /*header*/

    header{
        position:fixed;
    }
    
    .headlogo{
        display: none;
    }
    
    .indkob{
        max-width:60px;
        min-width:60px;
        left:95%;
        top:22px;
        margin-right: 2px;

    }
    
    label{
        display: none;
    }
    
    .comlogo{
        display: inline;
        min-width: 150px;
        max-width: 250px;
        margin-top:8px;
        margin-left:2%;
        display: inline-block;
        min-height: 30px;
       
        
    }
    
    
    
    .commenu{
        display: inline;
        list-style: none;
        white-space: nowrap;

    }
    
  
   .commenu a{
          
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-top:-6px;
    padding-left: 80px;
    color: #4C4044;
    float:left;
    position:relative;
    top: -30px;   
    left:32%      
    }

    

    .headlogo {
        display: none;
    }

    .indkob {
        width: 5%;
        margin-left: 88%
    }


    /*Footer */
    .footer-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 5px;
    }
    .footer-logo {
        width: 7%;
        margin-right: 0;
    }
    .kontakt-info,
    .fakta {
        width: 15%;
        margin-left: -20%;
    }

    .fakta {
        margin-top: -30px;
    }

    .instagram {
        margin-top: 50px;

    }
    
    /*WEBSHOP*/
    .galleri {
    margin: 20px 60px 20px 60px;
}
    }
    /* produktstørrelse*/
    .produkt {
        width: 31.6%;
    }
}
